<% if flash[:success] %>
<div class="alert alert-success" role="alert">
    <p class="my-0"><%= flash[:success] %></p>
</div>
<% end %>
<% if flash[:index_error] %>
<div class="alert alert-danger" role="alert">
    <p class="my-0"><%= flash[:index_error] %></p>
</div>
<% end %>

<div class="d-flex justify-content-between w-100">
    <h1> <%= title %> </h1>
</div>

<% if title == 'Viajes disponibles' %>
<%= render :partial => 'search'%>
<% end %>

<% if @travels.size == 0 %>
    <div class="d-flex flex-column align-items-center w-100">
        <%= image_tag  "Travels_history_empty.svg", size: '500' %>
        <h4>No hay viajes disponibles.</h4>
    </div>
<% end %>

<% @travels.each do |travel| %>
<li class="list-group-item card mb-2">
        <% if (current_user == nil) || (current_user.role == 'user') %>
            <span class="badge badge-pill badge-primary mb-1"><%= travel.combi.category.titleize %></span>
        <% end %>
        <div class="d-flex flex-row justify-content-between align-items-center">
        <%= render :partial => 'row', :locals => { :travel => travel } %>
        <% if (current_user != nil) && (current_user.role == 'driver') %>
            <span class="col-3 align-items-center mb-5">
                <span class="row mb-1">
                    <span class="col-12 text-center">
                        <strong class="m-0 text-primary text-uppercase mt-4"> Combi </strong>
                    </span>
                </span>
                <span class="row mt-1">
                    <span class="col-6 text-right">
                        <strong class="m-0"> <%=travel.combi.licence_plate %></strong>
                    </span>
                    <span class="col-6 text-left">
                        <span class="badge badge-pill badge-primary m-0"><%= travel.combi.category.titleize %></span>
                    </span>
                </span>
            </span>
        <% end %>
        <span class="col-2 d-flex flex-column align-items-center">
            <% if (current_user == nil) || (current_user.role == 'user') %>
                <% if travel.discount != 0 && current_user != nil && current_user.subscribed %>
                    <small class="text-secondary"><s>$<%= sprintf('%.2f', travel.price) %></s></small>
                    <p class="mb-4 mt-1 price-text h2">$<%= sprintf('%.0f', travel.price - (travel.price * travel.discount / 100))%><small class="small-text">.<%=sprintf('%.2f', travel.price - (travel.price * travel.discount / 100)).split(".").last%> </small>
                    </p>
                <% else %>
                    <p class="mb-4 mt-1 price-text h2">$<%= sprintf('%.0f', travel.price)%><small class="small-text">.<%=sprintf('%.2f', travel.price).split(".").last%> </small>
                    </p>
                <% end %>
                <% ticket = @ticket %>
                <% if current_user.travels.include?travel %>
                    <% ticket = @tickets.where(travel: travel).first %>
                    <%= link_to 'Anular reserva', '#', "data-toggle"=>"modal", "data-target" => "#cancel-#{travel.id}", class: "btn btn-block btn-danger mb-2" %>
                <% else %>
                    <% if travel.occupied == travel.combi.capacity %>
                        <button type="button" class="btn btn-block btn-disabled mb-2" disabled>Agotado</button>
                    <% else %>
                        <% if current_user.discharge_date != nil && current_user.discharge_date > travel.date_departure %>
                            <div class="tooltip-wrapper btn-block" data-title="No podes reservar un pasaje para este viaje porque presentas síntomas de covid">
                            <button type="button" class="btn btn-block btn-primary mb-2" disabled>Comprar</button>
                            </div>

                        <% else %>
                            <%= link_to 'Comprar', '#', "data-toggle"=>"modal", "data-target" => "#pay-#{travel.id}", class: "btn btn-block btn-primary mb-2" %>
                        <% end %>
                    <% end %>
                <% end %>
                <%= render :partial => 'extras_form', :locals => { :travel => travel, :ticket => ticket} %>
                <div class="modal fade" id="cancel-<%= travel.id %>" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">Anulación de reserva</button>
                            </div>
                            <div class="modal-body">
                                <p> ¿Confirma que desea anular la reserva del viaje <%= travel.name %>? </p>
                                <% if travel.date_departure > (DateTime.now + 48.hours) %>
                                <strong> El reintegro del pago será del 100% por estar realizando la cancelación con más de 48 hs de antelación </strong>
                                <% else %>
                                <strong> El reintegro del pago será del 50% por estar realizando la cancelación con menos de 48 hs de antelación </strong>
                                <% end %>
                            </div>
                            <div class="modal-footer">
                                <div class="modal-footer">
                                    <%= link_to 'Anular reserva', ticket, method: :delete , class: "btn btn-danger" %>
                                    <a href="#" data-dismiss="modal" class="btn btn-secondary">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
            <%= link_to "Detalles", travel_path(travel), class: 'btn btn-block btn-light' %>

        </span>
    </div>
</li>
<% end %>