<% if flash[:success] %>
<div class="alert alert-success" role="alert">
    <p class="my-0"><%= flash[:success] %></p>
</div>
<% end %>
<% if flash[:index_error] %>
<div class="alert alert-danger" role="alert">
    <p class="my-0"><%= flash[:index_error] %></p>
</div>
<% end %>

<div class="d-flex justify-content-between w-100">
    <h1> <%= title %> </h1>
</div>

<% if title == 'Viajes disponibles' %>
<%= render :partial => 'search'%>
<% end %>

<% @travels.each do |travel| %>
<li class="list-group-item card mb-2">
    <% if (current_user == nil) || (current_user.role == 'user') %>
        <span class="badge badge-pill badge-primary mb-1"><%= travel.combi.category.titleize %></span>
    <% end %>
    <div class="d-flex flex-row justify-content-between align-items-center">
        <%= render :partial => 'row', :locals => { :travel => travel } %>
        <% if (current_user != nil) && (current_user.role == 'driver') %>
            <span class="col-3 align-items-center mb-5">
                <span class="row mb-1">
                    <span class="col-12 text-center">
                        <strong class="m-0 text-primary text-uppercase mt-4"> Combi </strong>
                    </span>
                </span>
                <span class="row mt-1">
                    <span class="col-6 text-right">
                        <strong class="m-0"> <%=travel.combi.licence_plate %></strong>
                    </span>
                    <span class="col-6 text-left">
                        <span class="badge badge-pill badge-primary m-0"><%= travel.combi.category.titleize %></span>
                    </span>
                </span>
            </span>
        <% end %>
        <span class="col-2 d-flex flex-column align-items-center">
            <% if (current_user == nil) || (current_user.role == 'user') %>
                <p class="mb-4 mt-1 price-text h2">$<%= sprintf('%.0f', travel.price)%><small class="small-text">.<%=sprintf('%.2f', travel.price).split(".").last%> </small>
                </p>
            <% end %>
            <% if (current_user != nil) && (current_user.travels.include?travel) %>
                <% case travel.tickets.where(user: current_user).first.status %>
                <% when "confirmed" %>
                    <%= link_to 'Comentar', new_comment_path(:id => travel.id), class: "btn btn-block btn-primary" %>
                <% when "rejected" %>
                    <div class="tooltip-wrapper btn-block" data-title="Fuiste rechazado de este viaje por presentar síntomas de covid">
                        <button type="button" class="btn btn-block btn-danger" disabled>Rechazado</button>
                    </div>
                <% when "absent" %>
                    <div class="tooltip-wrapper btn-block" data-title="Perdiste este viaje porque no te presentaste a tiempo">
                        <button type="button" class="btn btn-block btn-light" disabled>Perdido</button>
                    </div>
                <% end %>
            <% end %>
            <%= link_to "Detalles", travel_path(travel), class: 'btn btn-block btn-light' %>
        </span>
    </div>
</li>
<% end %>

<% if @travels.size == 0 %>
<div class="d-flex flex-column align-items-center w-100">
    <%= image_tag  "Travels_history_empty.svg", size: '500' %>
    <h4>No hay viajes disponibles.</h4>
</div>
<% end %>