<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<%= form_with(url: travel_path(@travel), :method => :post, :html => {class: 'd-flex flex-column justify-content-center col-lg-6 mx-auto card p-5 my-5'}) do %>
	<%= number_field_tag(:travel_id, @travel.id, class: 'form-control', type: 'hidden') %>

	<h3 class='ml-1'> ¿Cómo desea realizar el pago? </h3>

	<% noneMethod = true %>
	<% if params[:method] %>
		<% noneMethod = false %>
	<% end %>
	<div class="form-check">
	    <%= radio_button_tag :method, "none", noneMethod, class: "form-check-input", :style => 'visibility: hidden', id: 'radio_none' %>
	</div>

	<div class="form-check">
	    <%= radio_button_tag :method, "existing", params[:method] == 'existing', class: "form-check-input", id: 'radio_existing' %>
	    <%= label_tag :method, "Método de pago existente", class: "form-check-label" %>
	</div>
	<div class="form-check mb-3">
	    <%= radio_button_tag :method, "new", params[:method] == 'new', class: "form-check-input", id: 'radio_new' %>
	    <%= label_tag :method, "Nuevo método de pago", class: "form-check-label" %>
	</div>

    <div class="form-group" id='existingMethod'>
    	<%= label_tag :payment_method, 'Método de pago existente:', class: 'ml-1 h5' %>
        <%= collection_select(:payment_method, :id, current_user.payment_methods, :id, :card, {prompt: "Seleccione un método de pago"}, {class: 'form-control', id: "existing"}) %>
        <% if (current_user.payment_methods.count == 0) %>
        	<p class='text-danger ml-1 font-weight-bold'> No hay métodos de pago disponibles en la cuenta </p>
        <% end %>
    </div>

    <div id='newMethod'>
    	<% if params[:method] == 'new' %>
    		<% card_number_field = params[:card_number] %>
    		<% name_field = params[:name] %>
    	<% else %>
    		<% name_field = '' %>
    	<% end %>

	    <h5 class='ml-1'> Nuevo método de pago: </h5>
	    <div class="form-group">
	        <%= label_tag(:card_number, 'Número de tarjeta', class: 'ml-1') %>
	        <%= number_field_tag(:card_number, card_number_field, class: 'form-control', id: "number") %>
	    </div>
	    
	    <div class="form-group">
	        <%= label_tag(:name, 'Nombre completo (como figura en la tarjeta)', class: 'ml-1') %>
	        <%= text_field_tag :name, name_field, class: 'form-control' %>
	    </div>
	   	<li class="list-group-item">
		    <div class="form-group">
		    	<span class='row'>
		    		<span class='col'>
		    			<p>Fecha de expiración</p>
		    		</span>
		    	</span>
		    	<span class='row'>
		    		<span class='col-6'>
		        		<%= label_tag(:expire_month, 'Mes', class: 'ml-1') %>
		        		<%= select_month(Date.today, {}, class: 'form-control', id: 'month') %>
		        	</span>
		    		<span class='col-6'> 
				        <%= label_tag(:expire_year, 'Año', class: 'ml-1') %>
				        <%= select_year(Date.today, {:start_year => Date.today.year, :end_year => 12.years.from_now.year}, class: 'form-control', id: 'year') %>
				    </span>
				</span>
			</div>
		</li>

	    <div class="form-group mt-2">
	        <%= label_tag(:company, 'Compañía', class: 'ml-1') %>
	        <%= select_tag :company, options_for_select(['Visa', 'Mastercard', 'American Express'], params[:company] || 0), :include_blank => true, class: 'form-control', id: "company" %>
	    </div>
	</div>

	<div class= 'form-group' id='code_field'>
        <%= label_tag(:verification_code, 'Código de verificación', class: 'ml-1') %>
        <%= number_field_tag(:verification_code, nil, step: 1, class: 'form-control', id: "code", required: true) %>
	</div>

	<div class='mb-2 ml-1' id='saveNewMethod'>
		<%= label_tag :save_new, "¿Desea guardar este método de pago para futuras compras en la plataforma?", class: "form-group-label mt-2 it" %>
		<div class="form-check">
		    <%= check_box_tag :save_new, "save_new", false, class: "form-check-input" %>
		    <%= label_tag :save_new, "Sí", class: "form-check-label" %>
		</div>
	</div>

    <% if flash[:form_error] %>
	    <div class="alert alert-danger" role="alert">
	        <% flash[:form_error].each do |e| %>
	       		<p class="my-0"><%= e %></p>
	        <% end %>
	    </div>
    <% end %>

    <span class='row mt-2'>
        <span class="col-6 text-center">
        	<%= link_to "Cancelar", travel_path(@travel), class: 'btn-lg btn-block btn-secondary mr-1' %>
        </span>
        <span class="col-6 text-center">
        	<%= link_to 'Pagar', '#', "data-toggle"=>"modal", "data-target" => "#confirm-#{@travel.id}", class: "btn-lg btn-block btn-primary" %>
        </span>
        <div class="modal fade" id="confirm-<%= @travel.id %>" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">Testeo de COVID</button>
                    </div>
                    <div class="modal-body">
                    	<div class="form-group">
                           	<%= label_tag :covid, "¿Confirma que no presenta síntomas de COVID ni estuvo en contacto con ninguna persona que diera positivo?", class: "form-group-label" %>
                            <div class="form-check">
							    <%= check_box_tag :covid, "confirm", false, class: "form-check-input" %>
							    <%= label_tag :covid, "Confirmar", class: "form-check-label" %>
							</div>
						</div>
						<small class='text-danger mt-5'>Este formulario tiene carácter de declaración jurada, si presenta síntomas no podrá reservar viajes con ocurrencia dentro de los próximos 15 días</small>
                    </div>
                    <div class="modal-footer">
                        <div class="modal-footer">
                        	<a href="#" data-dismiss="modal" class="btn btn-block btn-secondary">Cancelar</a>
                        	<%= submit_tag "Pagar", :class => 'form_submit btn btn-block btn-primary mb-2', data: { disable_with: "Procesando..." } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </span>
<% end %>

<script>
    $(document).ready(function() {	
    	let existingMethod = document.getElementById('radio_existing');
    	let newMethod = document.getElementById('radio_new');
    	//let none = document.getElementById('radio_none');
    	let existing = document.querySelector("#existing");
    	let newNumber = document.getElementById("number");
    	let newName = document.getElementById("name");
    	let code = document.getElementById("code");
    	let newCompany = document.querySelector("#company");
    	//console.log(none.checked);
    	//console.log(existingMethod.checked);
    	//console.log(newMethod.checked);

    	if (existingMethod.checked) {
    		$('#existingMethod').show();
    		$('#saveNewMethod').hide();
    		$('#newMethod').hide();
    		$('#code_field').show();
    	} else if (newMethod.checked) {
			$('#existingMethod').hide();
			$('#saveNewMethod').show();
	    	$('#newMethod').show();
	   		$('#code_field').show();
    	} else {
	    	$('#existingMethod').hide();
	    	$('#saveNewMethod').hide();
	    	$('#newMethod').hide();
	   		$('#code_field').hide();
	    }

		$("input").change(function(e){
			existingMethod = document.getElementById('radio_existing');
    		newMethod = document.getElementById('radio_new');
    		//none = document.getElementById('radio_none');
			//console.log(none.checked);
			//console.log(existingMethod.checked);
    		//console.log(newMethod.checked);
    		if (existingMethod.checked) {
    			//console.log('existing');
		  		newNumber.value = null;
        		newName.value = null;
        		newCompany.value = null;
	    		$('#existingMethod').show();
	    		$('#saveNewMethod').hide();
	    		$('#newMethod').hide();
	    		$('#code_field').show();
	    	} else if (newMethod.checked) {
				//console.log('new');
				$('#existingMethod').hide();
				$('#saveNewMethod').show();
		    	$('#newMethod').show();
		   		$('#code_field').show();
	    	} else {
	    		//console.log('none');
		    	$('#existingMethod').hide();
		    	$('#saveNewMethod').hide();
		    	$('#newMethod').hide();
		    }	
		});
    });
</script>