<ul class="list-group pt-5">
    <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
            <p class="my-0"><%= flash[:error] %></p>
        </div>
    <% end %>
    <% if flash[:warning] %>
        <div class="alert alert-warning" role="alert">
            <p class="my-0"><%= flash[:warning] %></p>
        </div>
    <% end %>

    <% if (current_user != nil) && (current_user.discharge_date != nil) && (current_user.discharge_date > Date.today) %>
        <div class="alert alert-warning" role="alert">
            <p class="m-0">¡Atención! Declaraste que presentás síntomas de covid, no podrás reservar viajes que se efectúen antes del día <%= I18n.l(current_user.discharge_date, format: "%d de %B de %Y") %></p>
        </div>
    <% end %>
    
    <% title = 'Viajes disponibles' %>
    <% if current_user != nil %>
        <%= render :partial => 'future', :locals => { :travels => @travels, :title => title } %>
    <% else %>
        <%= render :partial => 'previous', :locals => { :travels => @travels, :title => title } %>
    <% end %>

</ul>

<script>
    $(document).ready(function() {
        $('.tooltip-wrapper').tooltip({position: "top"});
    })
</script>