<ul class="list-group pt-5">
    <% if flash[:success] %>
        <div class="alert alert-success" role="alert">
            <p class="my-0"><%= flash[:success] %></p>
        </div>
    <% end %>
    <% if flash[:index_error] %>
        <div class="alert alert-danger" role="alert">
            <p class="my-0"><%= flash[:index_error] %></p>
        </div>
    <% end %>
    <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
            <p class="my-0"><%= flash[:error] %></p>
        </div>
    <% end %>
    <% if flash[:warning] %>
        <div class="alert alert-warning" role="alert">
            <p class="my-0"><%= flash[:warning] %></p>
        </div>
    <% end %>
    <div class="d-flex justify-content-between w-100">
        <h1> Viajes </h1>
    </div>

    <% if (current_user != nil) && (current_user.discharge_date > Date.today) %>
        <div class="alert alert-warning" role="alert">
            <p class="m-0">Atención! Declaraste que presentás síntomas de covid, no podrás reservar pasajes de viajes que se efectúen antes del día <%= I18n.l(current_user.discharge_date, format: "%d de %B de %Y") %></p>
        </div>
    <% end %>

    <% @travels.each do |travel| %>
    <li class="list-group-item card mb-2">
        <span class="badge badge-pill badge-primary mb-1"><%= travel.combi.category.titleize %></span>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <%= render :partial => 'row', :locals => { :travel => travel } %>
            <span class="col-2 d-flex flex-column align-items-center">
                <% if travel.discount != 0 && current_user != nil && current_user.suscribed %>
                    <small class="text-secondary"><s>$<%= sprintf('%.2f', travel.price) %></s></small>
                    <p class="mb-4 mt-1 price-text h2">$<%= sprintf('%.0f', travel.price - (travel.price * travel.discount / 100))%><small class="small-text">.<%=sprintf('%.2f', travel.price - (travel.price * travel.discount / 100)).split(".").last%> </small>
                    </p>
                <% else %>
                    <p class="mb-4 mt-1 price-text h2">$<%= sprintf('%.0f', travel.price)%><small class="small-text">.<%=sprintf('%.2f', travel.price).split(".").last%> </small>
                    </p>
                <% end %>
                <% if current_user != nil && travel.date_departure > DateTime.now %>
                    <% if current_user.travels.include?travel %>
                        <div class="tooltip-wrapper btn-block" data-title="Ya reservaste un pasaje para este viaje">
                            <button type="button" class="btn btn-block btn-primary mb-2" disabled>Reservado</button>
                        </div>
                    <% else %>
                        <% if travel.occupied == travel.combi.capacity %>
                            <button type="button" class="btn btn-block btn-disabled mb-2" disabled>Agotado</button>
                        <% else %>
                            <% if current_user.discharge_date != nil && current_user.discharge_date > travel.date_departure %>
                                <div class="tooltip-wrapper btn-block" data-title="No podes reservar un pasaje para este viaje porque presentas síntomas de covid">
                                    <button type="button" class="btn btn-block btn-primary mb-2" disabled>Comprar</button>
                                </div>
                                
                            <% else %>
                                <%= link_to 'Comprar', '#', "data-toggle"=>"modal", "data-target" => "#pay-#{travel.id}", class: "btn btn-block btn-primary mb-2" %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
                <div class="modal fade" id="pay-<%= travel.id %>" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <ul class="list-group text-left">
                                    <h6>Podés elegir cualquiera de estos insumos:</h6>
                                    <% travel.route.extras.each do |extra| %>
                                    <li class="list-group-item d-flex flex-row justify-content-between">
                                        <span>
                                            <small class="font-weight-bold d-block p-0"><%=extra.name.upcase %></small>
                                            <small class="text-secondary p-0"><%=extra.description.capitalize %></small>
                                        </span>
                                        <% if extra.price != 0 %>
                                        <span class="badge badge-pill badge-primary h-25 mt-2"> $<%= sprintf('%.2f', extra.price) %> </span>
                                        <% else %>
                                        <span class="badge badge-pill badge-primary h-25 mt-2"> Gratis </span>
                                        <% end %>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="modal-footer">
                                     <a href="#" data-dismiss="modal" class="btn btn-secondary w-75">Cancelar</a>
                                    <%= link_to "Continuar", book_travel_path(travel), class: 'btn btn-primary w-100' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <%= link_to "Detalles", travel_path(travel), class: 'btn btn-block btn-light' %>
                
            </span>
        </div>
    </li>
    <% end %>
</ul>


<script>
    //if ( window.localStorage ) {
    //    if (!localStorage.getItem('firstLoad')) {
    //        localStorage['firstLoad'] = true;
    //        window.location.reload();
    //    } else
    //        localStorage.removeItem('firstLoad');
    //}
    $(document).ready(function() {
        $('.tooltip-wrapper').tooltip({position: "top"});
    })
</script>