<div class="authform row">

    <%= form_for(@travel, :html => {class: 'd-flex flex-column justify-content-center col-lg-6 mx-auto card p-5 my-5'}) do |f| %>

    <h3> Editar viaje </h3>

    <div class="form-group">
        <%= f.label :route_id, 'Ruta' %>
        <%= collection_select(:travel, :route_id, @selectedRoute, :id, :name, {prompt: "Seleccione una ruta"}, { class: 'form-control', required: true, readonly: true }) %>
    </div>

    <div class="form-group">
        <%= f.label :date_departure, 'Fecha y hora de salida' %>
        <%= f.datetime_local_field :date_departure, class: 'form-control', required: true, readonly: true %>
    </div>

    <div class="form-group">
        <%= f.label :date_arrival, 'Fecha y hora de llegada' %>
        <%= f.datetime_local_field :date_arrival, class: 'form-control', required: true, readonly: true %>
    </div>

    <% if @travel.recurrent && !params[:delete_recurrence] %>
        <div class="form-group">
            <%= f.label :recurrence, 'Período de recurrencia' %>
            <%= f.hidden_field :recurrence, :value => @travel.recurrence %>
            <%= text_field_tag :r, @travel.recurrence_type, readonly: true, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :recurrence_name, 'Nombre de la recurrencia' %>
            <%= f.text_field :recurrence_name, class: 'form-control', readonly: true %>
        </div>
    <% else %>
        <p class='font-weight-bold font-italic mt-2'> Este viaje no es recurrente o la recurrencia fue eliminada </p>
    <% end %>

    <div class='form-check'>
        <%= check_box_tag :delete_recurrence, params[:delete_recurrence], params[:delete_recurrence] || false, :style => 'display: none', class: "form-check-input" %>
    </div>

    <div class="form-group">
        <%= f.label :price, 'Precio' %>
        <%= f.number_field :price, step: 0.01, class: 'form-control', required: true, readonly: true %>
    </div>

    <div class="form-group">
        <%= f.label :discount, 'Porcentaje de descuento' %>
        <%= f.number_field :discount, step: 1, class: 'form-control', required: true, readonly: true %>
    </div>

    <div class="form-group">
        <%= f.label :driver_id, 'Chofer *' %>
        <%= collection_select(:travel, :driver_id, @validDrivers, :id, :name_last_name, {prompt: "Seleccione un conductor"}, { class: 'form-control', required: true }) %>
        <% if (@validDrivers.count == 0) %>
        <p class='font-weight-bold font-italic text-danger'> No hay choferes disponibles </p>
        <% end %>
    </div>

    <div class="form-group">
        <%= f.label :combi_id, 'Combi *' %>
        <%= collection_select(:travel, :combi_id, @validCombis, :id, :licence_plate, {prompt: "Seleccione una combi"}, { class: 'form-control', required: true }) %>
        <% if (@validCombis.count == 0) %>
        <p class='font-weight-bold font-italic text-danger'> No hay combis disponibles </p>
        <% end %>
    </div>

    <% if (@validDrivers.count > 0 && @validCombis.count > 0) %>
    <div class="alert alert-warning" role="alert">
        <p class="my-0">Revise que el chofer y la combi sean los deseados. El sistema puede cambiarlos de acuerdo a la disponibilidad.</p>
    </div>
    <% end %>

    <span class='row'>
        <span class="col-6 text-center">
            <%= button_tag "Cancelar", :type => 'button', :class => "btn-lg btn-block btn-secondary", :onclick => "location.href = '#{travels_path}'" %>
        </span>
        <span class="col-6 text-center">
            <%= f.submit 'Actualizar', :class => 'btn-lg btn-block btn-primary' %>
        </span>
    </span>
    <% end %>
</div>