<ul class="list-group pt-5">
    <% if flash[:success] %>
        <div class="alert alert-success" role="alert">
            <p class="my-0"><%= flash[:warning] %></p>
        </div>
    <% end %>
    <% if flash[:successes] %>
        <div class="alert alert-success text-center mt-5" role="alert">
            <% flash[:successes].each do |e| %>
                <p class="my-0"><%= e %></p>
            <% end %>
        </div>
    <% end %>
    <% if flash[:index_error] %>
        <div class="alert alert-danger" role="alert">
            <p class="my-0"><%= flash[:index_error] %></p>
        </div>
    <% end %>
    <div class="d-flex justify-content-between w-100">
        <h1> Viajes </h1>
        <%= link_to "Agregar viaje", step_new_travel_path, class: 'btn btn-primary btn-md h-75' %>
    </div>

    <form action="/travels" method="get" class="d-flex flex-row justify-content-between w-100 card p-4 my-3">
        <% if params[:search] %>
            <% selected_route = params[:search][:route_id] %>
        <% else %>
            <% selected_route = nil %>
        <% end %>
        <div class="form-group">
            <%= label_tag :search, 'Filtrar por ruta:', class: 'form-group m-0' %>
            <%= collection_select(:search, :route_id, Route.all, :id, :name, {:selected => selected_route, :include_blank => true, prompt: "Seleccione una ruta"}, { class: 'form-control' }) %>
        </div>
        <div class="form-group">
            <%= label_tag :search, 'Filtrar por fecha:', class: 'form-group m-0' %>
            <%= date_field_tag(:date_search, params[:date_search] || Date.today, class: "form-control")%>
            <%= check_box_tag :dont_know_date, params[:dont_know_date], params[:dont_know_date] %>
            <%= label_tag :dont_know_date, 'Sin fecha', class: 'form-group m-0' %>
        </div>
        <% recurrence = params[:recurrence] %>
        <% if recurrence %>
            <% recurrence = recurrence.capitalize %>
        <% end %>
        <div class="form-group">
            <%= label_tag :search, 'Filtrar por recurrencia:', class: 'form-group m-0' %>
            <%= text_field_tag :recurrence, recurrence, class: "form-control text-titleize" %>
        </div>

        <span class="d-flex flex-column">
            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
            <%= link_to  "Limpiar búsqueda", travels_path, class: "btn btn-light" %>
        </span>
    </form>

    <% @travels.each do |travel| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="row w-75">
            <span class="col-3">
                <p class="m-0"> Origen </p>
                <h4 class="m-0"><%= travel.route.origin.name.titleize %>, <%= travel.route.origin.state.titleize %> </h4>
            </span>
            <span class="col-3">
                <p class="m-0"> Destino </p>
                <h4 class="m-0"><%= travel.route.destination.name.titleize %>, <%= travel.route.destination.state.titleize %> </h4>
            </span>
            <span class="col-2">
                <p class="m-0"> Salida </p>
                <h6 class="mt-1"><%= I18n.l(travel.date_departure, format: :long) %> </h6>
            </span>
            <span class="col-2">
                <p class="m-0"> Llegada </p>
                <h6 class="mt-1"><%= I18n.l(travel.date_arrival, format: :long) %> </h6>
            </span>
            <% if travel.recurrent %>
                <span class="col-2">
                    <p class="m-0"> Nombre de recurrencia </p>
                    <h6 class="mt-1"><%= travel.recurrence_name.capitalize %> </h6>
                </span>
            <% end %>
        </span>
        <% if travel.date_departure > DateTime.now %>
        <span>
            <%= link_to 'Editar', step_edit_travel_path(travel), class: "btn btn-light mr-3" %>
            <%= link_to 'Eliminar', '#', "data-toggle"=>"modal", "data-target" => "#delete-#{travel.id}", class: "btn btn-danger" %>
            <div class="modal fade" id="delete-<%= travel.id %>" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">Eliminación de viaje</button>
                        </div>
                        <div class="modal-body">
                            <% if travel.none_? %>
                                <p> ¿Confirma que desea eliminar el viaje <%= travel.name %>? </p>
                            <% else %>
                                <p> Este es un viaje recurrente, ¿quiere eliminar solo este viaje o también todos sus asociados?
                            <% end %>
                            <strong> Todos los pasajeros serán reembolsados en su totalidad </strong>
                        </div>
                        <div class="modal-footer">
                            <div class="modal-footer">
                                <% if travel.none_? %>
                                    <%= link_to 'Eliminar', travel, method: :delete, class: "btn btn-danger" %>
                                <% else %>
                                        <%= link_to 'Eliminar solo este viaje', travel, method: :delete, class: "btn btn-danger" %>
                                        <%= link_to 'Eliminar todos', destroy_recurrent_travels_path(travel), class: "btn btn-danger" %>
                                <% end %>
                                <a href="#" data-dismiss="modal" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </span>
        <% end %>
    </li>
    <% end %>

    <% if @travels.size == 0 %>
        <div class="d-flex flex-column align-items-center w-100">
            <%= image_tag  "Travels_history_empty.svg", size: '450' %>
            <h4>No hay viajes disponibles.</h4>
        </div>
    <% end %>
</ul>