<ul class="list-group pt-5">
    <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
            <p class="my-0"><%= flash[:error] %></p>
        </div>
    <% end %>
    <% if flash[:warning] %>
        <div class="alert alert-warning" role="alert">
            <p class="my-0"><%= flash[:warning] %></p>
        </div>
    <% end %>

    <% if flash[:success] %>
        <div class="alert alert-success" role="alert">
            <p class="my-0"><%= flash[:success] %></p>
        </div>
    <% end %>
    <% if flash[:successes] %>
        <div class="alert alert-success text-center mt-5" role="alert">
            <% flash[:successes].each do |e| %>
                <p class="my-0"><%= e %></p>
            <% end %>
        </div>
    <% end %>
    <% if flash[:index_error] %>
        <div class="alert alert-danger" role="alert">
            <p class="my-0"><%= flash[:index_error] %></p>
        </div>
    <% end %>

    <% if @travel == nil %>
        <div class="d-flex flex-column align-items-center w-100">
            <h2> No tenes viajes por realizar </h2>
            <%= image_tag  "Travels_history_empty.svg", size: '500' %>
        </div>
    <% else %>
        <div class="d-flex justify-content-between w-100 mb-2">
            <h1> Próximo viaje </h1>
        </div>
        
        <div class="list-group-item card mb-2">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <%= render :partial => 'travels/row', :locals => { :travel => @travel } %>
                <span class="col-3 align-items-center mb-5">
                    <span class="row mb-1">
                        <span class="col-12 text-center">
                            <strong class="m-0 text-primary text-uppercase mt-4"> Combi </strong>
                        </span>
                    </span>
                    <span class="row mt-1">
                        <span class="col-6 text-right">
                            <strong class="m-0"> <%=@travel.combi.licence_plate %></strong>
                        </span>
                        <span class="col-6 text-left">
                            <span class="badge badge-pill badge-primary m-0"><%= @travel.combi.category.titleize %></span>
                        </span>
                    </span>
                </span>
                <% if !@current && @travel.now %>
                    <span class="col-2 d-flex flex-column align-items-center">
                        <%= link_to 'Cancelar', '#', "data-toggle"=>"modal", "data-target" => "#delete-#{@travel.id}", class: "btn btn-block btn-danger" %>
                        <%= link_to "Detalles", travel_path(@travel), class: 'btn btn-block btn-light' %>
                        <div class="modal fade" id="delete-<%= @travel.id %>" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">Eliminación de viaje</button>
                                    </div>
                                    <div class="modal-body">
                                        <p> ¿Confirma que desea cancelar el viaje <%= @travel.name %>? </p>
                                        <strong> Todos los pasajeros serán reembolsados en su totalidad </strong>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="modal-footer">
                                            <%= link_to 'Cancelar', @travel, method: :delete, class: "btn btn-danger" %>
                                            <a href="#" data-dismiss="modal" class="btn btn-secondary">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                <% end %>
            </div>
        </div>

        <div class="d-flex justify-content-between w-100 mt-2">
                <h2> Pasajeros </h2>
            </div>

        <ul class="list-group">
            <% @travel.tickets.each do |ticket| %>
                <li class="list-group-item card mb-2">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <span class="row w-75">
                            <span class="col-5">
                                <strong class="m-0 text-primary text-uppercase"> Nombre </strong>
                                <h4><%= ticket.user.name %> </h4>
                            </span>
                            <span class="col-5">
                                <strong class="m-0 text-primary text-uppercase"> Apellido </strong>
                                <h4><%= ticket.user.last_name %> </h4>
                            </span>
                            <span class="col-2">
                                <strong class="m-0 text-primary text-uppercase"> DNI </strong>
                                <h5 class='mt-1'><%= ticket.user.dni %> </h5>
                            </span>
                        </span>
                        <% if !@current && @travel.now %>
                            <span class="col-2 d-flex flex-column align-items-center">
                                <% case ticket.status %>
                                <% when "confirmed" %>
                                    <button type="button" class="btn btn-block btn-primary mb-2" disabled>Pasajero confirmado</button>
                                <% when "rejected" %>
                                    <button type="button" class="btn btn-block btn-danger mb-2" disabled>Pasajero rechazado</button>
                                <% when "absent" %>
                                    <button type="button" class="btn btn-block btn-secondary mb-2" disabled>Pasajero ausente</button>
                                <% else %>
                                    <%= link_to "Cargar pasajero", ticket_passenger_path(ticket), class: 'btn btn-block btn-primary' %>
                                    <%= link_to "Ausente", passenger_absent_path(ticket), class: 'btn btn-block btn-secondary' %>
                                <% end %>
                            </span>
                        <% end %>
                    </div>
                </li>
            <% end %>
        </ul>
    <% end %>
</ul>
