<div class="authform row">
	

	<%= form_for(@paymentMethod, :html => {class: 'd-flex flex-column justify-content-center col-lg-6 mx-auto card p-5 my-5'}) do |f| %>
   
    <h3> Agregar método de pago </h3>

    <div class="form-group mt-2">
        <%= f.label(:company, 'Compañía', class: 'ml-1') %>
        <%= f.select :company, options_for_select(['Visa', 'Mastercard', 'American Express'], f.object.company || 0), {:include_blank => true}, {class: 'form-control', required: true} %>
    </div>
        
    <div class="form-group">
            <%= f.label(:card_number, 'Número de tarjeta', class: 'ml-1') %>
            <%= f.number_field(:card_number, :autofocus => true, class: 'form-control', required: true) %>
        </div>
        
        <div class="form-group">
            <%= f.label(:name, 'Nombre completo (como figura en la tarjeta)', class: 'ml-1') %>
            <%= f.text_field :name, required: true, class: 'form-control' %>
        </div>
        <li class="list-group-item">
            <div class="form-group">
                <span class='row'>
                    <span class='col'>
                        <p>Fecha de expiración</p>
                    </span>
                </span>
                <span class='row'>
                    <span class='col-6'>
                        <%= f.label(:expire_month, 'Mes', class: 'ml-1') %>

                        <%= f.select :expire_month, @months, {:selected => f.object.expire_month || @today}, {class: 'form-control', required: true } %>
                    </span>
                    <span class='col-6'> 
                        <%= f.label(:expire_year, 'Año', class: 'ml-1') %>
                        <%= f.select :expire_year, Date.today.year.. 12.years.from_now.year,{:selected => f.object.expire_year || Date.today.year}, {class: 'form-control', required: true } %>
                    </span>
                </span>
            </div>
        </li>

        <div class= 'form-group' id='code_field'>
            <%= f.label(:verification_code, 'Código de verificación', class: 'ml-1', required: true) %>
            <%= f.number_field(:verification_code, step: 1, class: 'form-control', required: true) %>
        </div>

    <% if flash[:form_error] %>
        <div class="alert alert-danger" role="alert">
            <% flash[:form_error].each do |e| %>
                <p class="my-0"><%= e %></p>
            <% end %>
        </div>
    <% end %>

    <span class='row'>
        <span class="col-6 text-center">
            <%= button_tag "Cancelar", :type => 'button', :class => "btn-lg btn-block btn-secondary", :onclick => "location.href = '#{payment_methods_path()}'" %>
        </span>
        <span class="col-6 text-center">
            <%= f.submit "Agregar", :class => 'btn-lg btn-block btn-primary' %> 
        </span>
    </span>

<% end %>
</div>