<div class="container p-5">
    <% if flash[:success] %>
    <div class="alert alert-success" role="alert">
        <p class="my-0"><%= flash[:success] %></p>
    </div>
    <% end %>
    <div class="card p-5">
        <h3>Nuevo pasaje</h3>
        <div>
            <strong class="my-3">Datos del pasajero</strong>
            <div class="row w-100 d-flex justify-content-between pl-5">
                <span>
                    <b>Nombre: </b>
                    <p><%= @user.name %></p>
                </span>
                <span class="w-50">
                    <b>Fecha de nacimiento: </b>
                    <p><%= @user.birth_date %></p>
                </span>
            </div>
            <div class="row w-100 d-flex justify-content-between pl-5">
                <span>
                    <b>Apellido: </b>
                    <p><%= @user.last_name %></p>
                </span>
                <span class="w-50">
                    <b>Correo electrónico: </b>
                    <p><%= @user.email %></p>
                </span>
            </div>
            <div class="row w-100 pl-5">
                <span>
                    <b>Número de documento: </b>
                    <p><%= @user.dni %></p>
                </span>
            </div>
        </div>
        <div>
            <strong class="my-3">Datos del viaje</strong>
            <div class="row w-100 d-flex justify-content-between pl-5">
                <span>
                    <b>Origen: </b>
                    <p><%= @travel.route.origin.name.titleize %></p>
                </span>
                <span class="w-50">
                    <b>Fecha de salida: </b>
                    <p><%= @travel.date_departure %></p>
                </span>
            </div>
            <div class="row w-100 d-flex justify-content-between pl-5">
                <span>
                    <b>Destino: </b>
                    <p><%= @travel.route.origin.name.titleize %></p>
                </span>
                <span class="w-50">
                    <b>Fecha de llegada: </b>
                    <p><%= @travel.date_arrival %></p>
                </span>
            </div>
            <div class="row w-100 pl-5">
                <span>
                    <b>Total: </b>
                    <p><%= @travel.price %></p>
                </span>
            </div>
        </div>
        <%= form_with url: "/express_ticket", method: :post, class: "w-100 d-flex flex-column align-items-center justify-content-center" do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :travel_id, value: @travel.id %>
        <%= f.hidden_field :price, value: @travel.price %>
        <div>
            <%= link_to  "Cancelar", current_travel_path, class: "btn btn-secondary" %>
            <%= link_to 'Finalizar venta', '#', "data-toggle"=>"modal", "data-target" => "#confirm-#{@travel.id}", class: "btn btn-primary" %>
        </div>

        <div class="modal fade" id="confirm-<%= @travel.id %>" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">Testeo de COVID</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <%= label_tag :covid, "¿El pasajero confirma que no presenta síntomas de COVID ni estuvo en contacto con ninguna persona que diera positivo?", class: "form-group-label" %>
                            <div class="form-check">
                                <%= check_box_tag :not_covid, "confirm", false, class: "form-check-input" %>
                                <%= label_tag :not_covid, "Confirmar", class: "form-check-label" %>
                            </div>
                        </div>
                        <small class='text-danger mt-5'>Este formulario tiene carácter de declaración jurada a nombre del pasajero. Si presenta síntomas no podrá reservar viajes con ocurrencia dentro de los próximos 15 días.</small>
                    </div>
                    <div class="modal-footer">
                        <div class="modal-footer">
                            <a href="#" data-dismiss="modal" class="btn btn-block btn-secondary">Cancelar</a>
                            <%= submit_tag "Finalizar venta", :class => 'form_submit btn btn-block btn-primary mb-2', data: { disable_with: "Procesando..." } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>