<ul class="list-group pt-5">
    <% if flash[:success] %>
    <div class="alert alert-success" role="alert">
        <p class="my-0"><%= flash[:success] %></p>
    </div>
    <% end %>
    <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
        <p class="my-0"><%= flash[:error] %></p>
    </div>
    <% end %>
    <div class="d-flex justify-content-between w-100">
        <h1> Rutas </h1>
        <%= link_to "Agregar ruta", new_route_path, class: 'btn btn-primary btn-md h-75' %>
    </div>

    <% @routes.each do |route| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="row w-75">
            <span class="col-6">
                <p class="m-0"> Origen </p>
                <h4 class="m-0"><%= route.origin.name.titleize %>, <%= route.origin.state.titleize %> </h4>
            </span>
            <span class="col">
                <p class="m-0"> Destino </p>
                <h4 class="m-0"><%= route.destination.name.titleize %>, <%= route.destination.state.titleize %> </h4>
            </span>
        </span>
        <span>
            <%= link_to 'Editar', edit_route_path(route), class: "btn btn-light" %>
            <%= link_to 'Eliminar', '#', "data-toggle"=>"modal", "data-target" => "#delete-#{route.id}", class: "btn btn-danger" %>
            <div class="modal fade" id="delete-<%= route.id %>" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">Eliminación de ruta</button>
                        </div>
                        <div class="modal-body">
                            <p> ¿Confirma que desea eliminar la ruta <%= route.origin.name.titleize %>, <%= route.origin.state.titleize %> - <%= route.destination.name.titleize %>, <%= route.destination.state.titleize %>? </p>
                        </div>
                        <div class="modal-footer">
                            <div class="modal-footer">
                                <%= link_to 'Eliminar', route, method: :delete, class: "btn btn-danger" %>
                                <a href="#" data-dismiss="modal" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </li>
    <% end %>
</ul>