<ul class="list-group pt-5">
    <% if flash[:success] %>
    <div class="alert alert-success" role="alert">
        <p class="my-0"><%= flash[:success] %></p>
    </div>
    <% end %>
    <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
        <p class="my-0"><%= flash[:error] %></p>
    </div>
    <% end %>
    <div class="d-flex justify-content-between w-100">
        <h1> Insumos </h1>
        <%= link_to "Agregar insumo", new_extra_path, class: 'btn btn-primary btn-md h-75' %>
    </div>
    <% @extras.each do |extra| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
            <p class="m-0 font-weight-bold text-uppercase"><%= extra.name %> </p>
            <small class="m-0"><%= extra.description %> </small>
        </span>
        <span>
            <%= link_to 'Editar', edit_extra_path(extra), class: "btn btn-light" %>
            <%= link_to 'Eliminar', '#', "data-toggle"=>"modal", "data-target" => "#delete-#{extra.id}", class: "btn btn-danger" %>
            <div class="modal fade" id="delete-<%= extra.id %>" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">Eliminación de insumo</button>
                        </div>
                        <div class="modal-body">
                            <p> ¿Confirma que desea eliminar el insumo <%= extra.name %>? </p>
                        </div>
                        <div class="modal-footer">
                            <div class="modal-footer">
                                <%= link_to 'Eliminar', extra, method: :delete, class: "btn btn-danger" %>
                                <a href="#" data-dismiss="modal" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </li>
    <% end %>
</ul>